.homepage{
    display: flex;
    justify-content: center;
    background-color: #c1ddfb;
    height: 100vh;
    padding: 60px 0px;
}

.left-wing, .right-wing, .home-content{
    margin: 0px 10px;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: calc(100vh - 300px); /* Full height minus the navbar */
    margin:0px 30px;
}

.home-content .Logo{
    font-size: 4rem;
}

.header{
    padding: 0px;
    margin: 0px;
}

.tagline{
    font-weight: bold;
    font-size: larger;
}

.disaster-button{
    border-radius: 50px;
    border-style: none;
    background-color: #0A4076;
    color: white;
    font-size: 22px;
    padding: 10px 20px;
    cursor: pointer;
}

.disaster-button:hover{
    background-color: #66b0ff;
    color: #0A4076;
    /* border: solid 1px black; */
}