.image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 13vw;
    background-color: #f5f5f5;
    border-radius: 200px;
    overflow: hidden;
    position: relative;
    margin: 20px 30px;
}

.left-wing, .right-wing{
    display: flex;
}

.image-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.left-wing .image-wrapper:nth-child(1), .right-wing .image-wrapper:nth-child(1){
    margin-top: -20px;
}

.left-wing .image-wrapper:nth-child(2), .right-wing .image-wrapper:nth-child(2){
    margin-top: 80px;
}