.nav-button {
    color: white;
}

.nav-link {
    display: inline-block; /* Ensures the link behaves like a button */
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 1rem 2.1rem 1rem 1.4rem;
    font-size: 1.25rem;
    border-radius: 18px 45px 0px 18px;
    background-color: #FF4B4B;
    transition: background-color 0.3s;
}

.nav-link:hover,
.nav-link:focus {
    background-color: #fdb3ba;
    color: #FF4B4B;
    cursor: pointer;
}

.nav-link.active {
    background-color: #fcbcc2; /* Active background color */
    color: #FF4B4B; /* Active text color */
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional for emphasis */
}
